/* Fonts
/* -------------------------------------------- */
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto.ttf");
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-bold.ttf");
	font-style: normal;
	font-weight: bold;
}

/* Basics
/* -------------------------------------------- */
html {
	font-size: 11pt;
	line-height: 1;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	background: #eee;
}
.hide {
	display: none;
}

/* Page frame
/* -------------------------------------------- */
.page {
	width: 297mm;
	height: 209mm;
	padding: 10mm;
	box-sizing: border-box;
	margin: 0 auto 10mm;
	background: white;
}

/* Calendar month and year
/* -------------------------------------------- */
h2 {
	font-size: 16pt;
	font-weight: normal;
	padding: 0;
	margin: 0;
	height: 10mm;
}
h2 .year {
	color: rgba(0, 0, 0, 0.5);
	font-weight: lighter;
}

/* Calendar table
/* -------------------------------------------- */
table {
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	table-layout: fixed;
	text-align: left;
	border-collapse: collapse;
}
thead {
	height: 10mm;
}
tbody {
	height: calc(210mm - 10mm - 10mm - 10mm - 10mm);
}
th, td {
	box-sizing: border-box;
}
th {
	font-weight: lighter;
	vertical-align: middle;
	padding: 0 3mm 1.5mm;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
td {
	padding: 3mm;
	border: 1px solid rgba(0, 0, 0, 0.15);
	vertical-align: top;
}
.not-in-month {
	color: rgba(0, 0, 0, 0.25);
}
.week {
	font-style: italic;
	text-align:center;
	width: 12mm;
}
.red-day {
	color: rgba(0, 0, 0, 0.5);
	font-style: italic;
}
.day-rows-5 tbody td {
	height: 34mm;
}
.day-rows-6 tbody td {
	height: 28.33mm;
}

/* Menu
/* -------------------------------------------- */
#menu {
	list-style: none;

	background: white;
	margin: 0 auto 10mm;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	-moz-user-select: none;
	-webkit-user-select: none;
}
#menu li {
	display: inline-block;
	padding: 1rem;

	border-right: 1px solid #eee;
}
#menu li:last-child {
	border-right: 0;
}
#year {
	width: 6rem;
}

/* Printing
/* -------------------------------------------- */
@media print {
	body {
		background: transparent;
	}
	#menu {
		display: none;
	}
	.page {
		margin: 0;
	}
}
@page {
	border: 0;
	padding: 0;
	margin: 0;
	size: landscape;
}
